#btnsection
{
    
text-align: center;
margin-top: 20px;
margin-left: 260px;

}
#textset{
    margin-top: 15px;
    font-weight: bold;
    color: purple;
    font-size: 20px;
}
#intern{
    background-color: yellow;
    color: black;
}
#textset1{
    font-weight: bold;
    color:black
}
#textset2{
    font-weight: bold;
    color:blue
}
#Permanent{
    background-color:darkblue;
    color:white;
}
#view{
    color:black;
    font-weight: bold;
}