#textdata{
    text-align: center;
}

#videobtn{
    color:purple
}
#head1{
    font-weight: bold;
    color: purple;
}

#head6{
    font-weight: bold;
    color: purple;
}
#head2{
    font-weight: bold;
    color: black;
    font-size: 12px;
}

#head3{
    font-weight: bold;
    color: black;
    font-size: 12px;
    
}