body{
    background:white;
}
span{
    font-size:15px;
}
#link{
  text-decoration:none; 
  color:purple;
  border-bottom:2px solid purple;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}

.text{
    margin:20px 0px;
}

.fa{
     color:purple
} 




 h1
{
	color:white;
	margin:40px 0 60px 0;
	font-weight:300;
}


.candidate-grid{
    text-align: center;
    border: 1px solid #ececec;
    position: relative;
    padding: 24px 0px;
    overflow: hidden;
  }
  .candidate-grid img{
    border-radius: 50%;
    width:50%;
    height:40%;
    
   
    /* margin-top: 20px; */
  }
  .candidate-grid h4{
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
  }
  .candidate-grid h5{
    font-size: 16px;
    color: black;
  }
  .candidate-grid h6{
    font-size: 13px;
    color: black;
  }
  .careerfy-candidate-grid-status {
    position: absolute;
    left: 47px;
    top: 34px;
    width: 22px;
    height: 22px;
    background-color: #53b427;
    border: 4px solid #fff;
    border-radius: 100%;
}
 

  .urgntpkg-candv1, .urgntpkg-jobv1 {
    position: absolute;
    left: -22px;
    
    top: 11px;
    font-size: 16px !important;
    background-color: purple;
    color: #fff !important;
    padding: 5px 26px;
    line-height: 1;
    z-index: 1;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.urgntpkg-candv2 {
  position: absolute;
  left: -25px;
  top: 11px;
  font-size: 16px !important;
  background-color: purple;
  color: #fff !important;
  padding: 5px 26px;
  line-height: 1;
  z-index: 1;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.promotepof-badge {
    position: absolute;
    right: 0;
    top: 0;
   
}
.promotepof-badge:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: 80px solid purple;
    border-left: 60px solid transparent;
    
}
.promotepof-badge i {
    z-index: 5;
    position: relative;
    color: #fff;
    float: left;
    margin: 6px 6px 0 0;
    font-size: 28px;
    
}

#intro4{
  font-weight: bold;
  
  color:purple;
  font-size: 23px;
 
}


#round{
  background-color: purple;
  border-radius: 200px;
  padding: 10px;
  color:white;
  font-weight: bold;
}
#intro1{
  font-weight: bold;
  
  color:blue;
  font-size: 15px;
  
}
#cards{
  border:1px solid purple;
}
#cardtext{
  color:purple;
  font-size: 12px;
  font-weight: bold;
}
#cardtext1{
  font-weight: bold;
  font-size: 14px;
  
}
#cardtext3{
  font-weight: bold;
  font-size: 20px;
}
#cardtext4{
  
    font-weight: bold;
    font-size: 14px;
    color: purple;
  
}
#sector{
  font-weight: bold;
  text-align: left;
  color: purple;
  font-size: 20px;
}
#headdata{
  font-weight: bold;
  font-size:23px;
}
 /* .our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
} 


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 120px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
} 

 .our-team-main p
{
	margin-bottom:0;
} */

/* .team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
} */

/* .team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
} */

/* .our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
} */


/*our-team-main*/

