
.App {
  text-align: center;
  background-color: #1C2833   ;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 5px 10px #888888;
  
}

.App-logo {
  height: 100vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*answer ,js*/
.btnAnswer{
  background-color: #45B39D ;
  font:30px;
  color:white
}
.btnAnswer:hover{
  background-color: #82E0AA ;
  border:3px solid white;
  
 
}

/*questions*/
.questions{
  color:#5DADE2 ;
}

/*correctAns*/
.correctAns{
  color:white;
 
}
.correctAns span{
  color:red
}



/*incorrectAn*/
.incorrectAns{
  
  color:white
}

.incorrectAns span{
  color:red
} 
/*userGreeting*/
.userGreeting{
  color:#5DADE2
}
/*scoreArea*/
.scoreArea{
  margin-top: 20px;;
}